Commands_BACKUP_3578.cpp
Commands_BACKUP_3661.cpp
Commands_BACKUP_3764.cpp
Commands_BASE_3578.cpp
Commands_BASE_3661.cpp
Commands_BASE_3764.cpp
Commands_LOCAL_3578.cpp
Commands_LOCAL_3661.cpp
Commands_LOCAL_3764.cpp
Commands_REMOTE_3578.cpp
Commands_REMOTE_3661.cpp
Commands_REMOTE_3764.cpp
Commands.cpp.save
Commands.o
signals.o
smash
smash.depend
smash.layout
smash.o
.obj/Debug/Commands.o
.obj/Debug/signals.o
.obj/Debug/smash.o
.objs/Commands.o
.objs/signals.o
.objs/smash.o
bin/Debug/HW1_OS
bin/Debug/smash
bin/Release/smash
obj/Debug/Commands.o
obj/Debug/signals.o
obj/Debug/smash.o
obj/Release/Commands.o
obj/Release/signals.o
obj/Release/smash.o
temp/main.cpp
temp/temp.cbp
temp/temp.depend
temp/temp.layout
temp/bin/Debug/temp
temp/obj/Debug/main.o
smash.depend
bin/Debug/smash
obj/Debug/Commands.o
obj/Debug/signals.o
obj/Debug/smash.o
smash.depend
bin/Debug/smash
obj/Debug/Commands.o
obj/Debug/signals.o
obj/Debug/smash.o
smash.depend
test.py
bin/Debug/smash
built_ins/bg_errors.exp
built_ins/bg_errors.in
built_ins/cd.exp
built_ins/cd.in
built_ins/chprompt.exp
built_ins/chprompt.in
built_ins/fg_errors.exp
built_ins/fg_errors.in
built_ins/fg.exp
built_ins/fg.in
built_ins/fg.out
built_ins/jobs.exp
built_ins/jobs.in
built_ins/jobs.out
built_ins/kill_errors.exp
built_ins/kill_errors.in
built_ins/ls.out
built_ins/pwd.exp
built_ins/pwd.in
built_ins/pwd.out
built_ins/quit_kill1.exp
built_ins/quit_kill1.in
built_ins/quit_kill2.exp
built_ins/quit_kill2.in
built_ins/quit_kill3.exp
built_ins/quit_kill3.in
built_ins/quit_kill4.exp
built_ins/quit_kill4.in
built_ins/quit_nojobs1.exp
built_ins/quit_nojobs1.in
built_ins/quit_nojobs2.exp
built_ins/quit_nojobs2.in
built_ins/showpid.exp
built_ins/showpid.in
files/my_sleep
files/my_sleep.cpp
files/random1.txt
files/random2.txt
obj/Debug/signals.o
tests_tal/built_ins/bg_errors.exp
tests_tal/built_ins/bg_errors.in
tests_tal/built_ins/cd.exp
tests_tal/built_ins/cd.in
tests_tal/built_ins/chprompt.exp
tests_tal/built_ins/chprompt.in
tests_tal/built_ins/fg_errors.exp
tests_tal/built_ins/fg_errors.in
tests_tal/built_ins/fg.exp
tests_tal/built_ins/fg.in
tests_tal/built_ins/jobs.exp
tests_tal/built_ins/jobs.in
tests_tal/built_ins/kill_errors.exp
tests_tal/built_ins/kill_errors.in
tests_tal/built_ins/pwd.exp
tests_tal/built_ins/pwd.in
tests_tal/built_ins/quit_kill1.exp
tests_tal/built_ins/quit_kill1.in
tests_tal/built_ins/quit_kill2.exp
tests_tal/built_ins/quit_kill2.in
tests_tal/built_ins/quit_kill3.exp
tests_tal/built_ins/quit_kill3.in
tests_tal/built_ins/quit_kill4.exp
tests_tal/built_ins/quit_kill4.in
tests_tal/built_ins/quit_nojobs1.exp
tests_tal/built_ins/quit_nojobs1.in
tests_tal/built_ins/quit_nojobs2.exp
tests_tal/built_ins/quit_nojobs2.in
tests_tal/built_ins/showpid.exp
tests_tal/built_ins/showpid.in
unit/cd.exp
unit/cd.in
unit/cd.out
unit/chprompt.exp
unit/chprompt.in
unit/chprompt.out
unit/cp.exp
unit/cp.in
unit/fg.out
unit/jobs.exp
unit/jobs.in
unit/kill.exp
unit/kill.in
unit/kill.out
unit/ls.out
unit/pipe.exp
unit/pipe.in
unit/pipe.out
unit/pwd.out
unit/quit.exp
unit/quit.in
unit/quit.out
unit/redirect.exp
unit/redirect.in
unit/redirect.out
unit/showpid.exp
unit/showpid.in
unit/showpid.out
unit/timeout.exp
unit/timeout.in
Readme.md
example.txt
jobs.exp
jobs.in
ls.txt
files/a.txt
unit/bug.exp
unit/bug.in
unit/bug.out
unit/jobs.out
unit/jobs2.exp
unit/jobs2.in
unit/jobs2.out
files/new
a
a.txt
